html{
    background-color: rgb(19, 15, 15);
    font-family: Arial, Helvetica, sans-serif;
}

header h1{
    color: rgb(219, 189, 123);
}

header h2{
    color: rgb(175, 94, 103);
}

header nav{
    color: rgb(175, 94, 103);
}

header div{
    color: rgb(175, 94, 103);
    font-weight: 600;
    margin-top: -0.45rem;
    margin-bottom: -0.45rem;
    font-size: small;
}

main h3{
    color: rgb(219, 189, 123);
}

.work h4{
    color: rgb(175, 94, 103)
}

.me h3{
    color: rgb(219, 189, 123);
}

.me div{
    color: rgb(175, 94, 103);
}

header img{
    max-width: 12.5rem;
    margin-top: -3.5rem;
    margin-left: -1.5rem;
}

.heading{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: flex-end;
    justify-content: right;
    text-align: right;
}

header{
    display: flex;
    justify-content: space-between;
}



.block{
    display: inline-block;
    background-color: rgb(219, 189, 123);
    color: rgb(219, 189, 123);
    font-size: xx-small;
}

.drew{
    color: rgb(219, 189, 123);
    font-size: large;
    font-weight: 800;
    margin-top: -0.15rem;
    margin-bottom: -0.15rem;
}

.gd{
    color: rgb(175, 94, 103);
    font-weight: 600;
    margin-top: 0.75rem;
    margin-bottom: 0.15rem;
    font-size: medium;
}

nav{
    text-decoration: none;
    color: rgb(175, 94, 103);
    font-weight: 600;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    font-size: small;
}



h3{
    font-weight: 700;
}

.work img{
    max-width: 30%;
    border: 0.05rem solid rgb(175, 94, 103);
}

.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a:link{
    color:rgb(175, 94, 103);
}

a:visited{
    color: rgb(219, 189, 123);
}

.me img{
    border: 0.05rem solid rgb(175, 94, 103);
    max-width: 60%;
    
}

@media (min-width:1700px){

    .heading{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: flex-start;
        justify-content: left;
        text-align: left;
        
    }

    header{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 3rem;
        position: fixed;
    }

    main h3{
        text-align: right;
        margin-right: 5rem;
    }

    .work img{
        max-width: 28%;
        border: 0.05rem solid rgb(175, 94, 103);
    
    }
    
    .work{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: right;
        align-items: center;
        gap: 1rem;
        margin-right: 5rem;
        margin-top: 11rem;
    }

    .me{
    display: inline-block;
    text-align: left;
    background-color:rgb(19, 15, 15);
    padding: 0rem 5rem;
    margin: 3rem;
    color: rgb(219, 189, 123); 
    }
}




